<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ballotBoxWithCheck</key>
    <string>ballotB_oxW_ithC_heck.glif</string>
    <key>ballotBoxWithX</key>
    <string>ballotB_oxW_ithX_.glif</string>
    <key>checkmark</key>
    <string>checkmark.glif</string>
    <key>jstroke.dotless</key>
    <string>jstroke.dotless.glif</string>
  </dict>
</plist>
