<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ballotBoxWithCheck</key>
    <string>ballotB_oxW_ithC_heck.glif</string>
    <key>checkmark</key>
    <string>checkmark.glif</string>
    <key>dieresiscomb_gravecomb.cap</key>
    <string>dieresiscomb_gravecomb.cap.glif</string>
    <key>dots1-braille</key>
    <string>dots1-braille.glif</string>
    <key>hryvnia.osf</key>
    <string>hryvnia.osf.glif</string>
    <key>jstroke</key>
    <string>jstroke.glif</string>
    <key>jstroke.dotless</key>
    <string>jstroke.dotless.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>rupeeIndian.osf</key>
    <string>rupeeI_ndian.osf.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
